body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
}
main { 
    padding: 20px; 
}


/* 1. Визначити для усіх елементів h1, h2, h3 властивість колір тексту - сірий */
h1, h2, h3 {
    color: grey;
}

/* 2. Визначити для елемента з ідентифікатором main властивість color: #e60202; */
#main {
    color: #e60202;
}

/* 3. Визначити для елемента з класом h2 властивість колір: червоний */
.h2 {
    color: red;
}

/* 4. Встановити для елемента з класом heading колір тексту у зелений */
.heading {
    color: green;
}
